.about-container {
  width: 100%;
  min-height: 100vh;
  padding: 30px 20px 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
/* ================= gif ================= */
.gif{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gif img{
  width: 20%;
}
/* ================= PRESENTACIÓN ================= */

.presentation {
  display: flex;
  flex-direction: column;
}

.presentation-info {
  width: 100%;
}

a{
  color: inherit;
  text-decoration: none;
}
.social-icons {
  display: flex;
  gap: 5px;
  line-height: 0px;
}

.presentation h1 {
  margin: 0 0 0 0;
  font-size: 2.5rem;
  letter-spacing: 2px;
  line-height: 45px;
}

.profession {
  margin: 0 0 5px 0;
  line-height: 0.5;
  letter-spacing: 1.5px;
}

/* ================= FOTO ================= */

.profile-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.profile-image {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
}
.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* ================= SECCIONES ================= */

.summary,
.bio,
.web {
  margin: 0 0 0 0;
}

.summary h2,
.bio h2,
.web h2 {
  text-decoration: underline #706c6c 0.3rem ;
}

.summary-paragraph {
  text-indent: 1rem;
  margin: 0 0 0 0;
}
/* ================= CV ================= */

.cv-button {
  display: block;

  margin: 30px auto 0;

  padding: 10px 25px;

  font-size: 20px;

  cursor: pointer;
}

/* ================= BIO ================= */

.bio-content {
  display: grid;

  grid-template-columns: 1fr 2fr;

  gap: 20px;
}

.bio-year p:first-child {
  font-weight: bold;
}

/* ================= TABLET ================= */

@media (min-width: 768px) {
  .about-container {
    padding: 40px 60px 80px;
  }

  .presentation {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .presentation-info {
    width: 60%;
  }

  .profile-container {
    width: 40%;
  }

  .profile-image {
    width: 180px;
    height: 180px;
  }
}

/* ================= DESKTOP ================= */

@media (min-width: 1024px) {
  .about-container {
    max-width: 900px;

    margin: auto;

    padding-top: 40px;
  }

  .presentation h1 {
    font-size: 3rem;
  }

  .profile-image {
    width: 200px;
    height: 200px;
  }
}
